/* Aplica o modelo de caixa border-box a todos os elementos da página. O padding e a borda  são incluídos na sua largura e altura total */
* {
    box-sizing: border-box;
}

.slideshow-container {  /* seta o contêiner principal do 'slideshow'.*/
    max-width: 1000px; /* É definida a largura máxima do contêiner como 1000 pixels*/
    position: relative; /*É definida a posição como 'relativa'. Desta forma os elementos filhos com 'position: absolute' podem ser posicionados em relação a este contêiner.*/
    margin: auto; /* Posiciona o container no centro da página.*/
}

.mySlides {
    display: none; /*Cada slide fica inicialmente oculto com display: none;.*/
}

/*Estiliza (anterior e próximo)*/
.anterior,
.proximo {
    cursor: pointer; /*Altera o cursor para uma mão ao passar sobre o botão*/
    position: absolute; /*é posicionado de forma absoluta em relação ao contêiner pai (slideshow-container).*/
    top: 50%; /*é posicionado verticalmente no meio do contêiner.*/
    width: auto; /*A largura é ajustada automaticamente com base no conteúdo*/
    margin-top: -22px; /*Move para cima em 22px.*/
    padding: 16px; /*Adiciona preenchimento interno de 16px*/
    color: white; /* Define a cor do texto como branca*/
    font-weight: bold; /* negrito.*/
    font-size: 18px; /*define tamanho da fonte de 18px*/
    transition: 0.6s ease; /*Adiciona uma transição 'suave*/ 
    border-radius: 0 3px 3px 0; /*Põe borda, arredondando apenas os cantos direito*/
    user-select: none; /*controla se o usuário pode selecionar o texto, neste caso o usuário não pode selecionar o texto*/
}

.proximo { /*seta 'próximo' para estilizar"*/
    right: 0; /*Posiciona o botão à direita do contêiner*/
    border-radius: 3px 0 0 3px; /*põe borda, arredondando apenas os cantos esquerdos*/
}

/* aplica hover na classe: anterior e próximo - Altera a cor de fundo quando o mouse passa sobre eles, adicionando um fundo preto com 80% de opacidade (0.8). */
.anterior:hover,
.proximo:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}

/*seta a classe 'text' para estilizá-la*/
.text {
    color: #f2f2f2; /*Define a cor*/
    font-size: 15px; /*Define o tamanho da fonte*/
    padding: 8px 12px; /*Adiciona preenchimento ao redor do texto*/
    position: absolute; /*é posicionado de forma absoluta */
    bottom: 8px; /*Alinha o texto na parte inferior do slide*/
    width: 100%; /* Ocupa toda a largura do slide*/
    text-align: center; /*Centraliza o texto horizontalmente.*/
}

/*Estiliza a "class-numbertest"(o texto que mostra o número do slide atual e o total)*/
.numbertext {
    color: #f2f2f2; /*Define a cor*/
    font-size: 12px; /*tamanho da fonte*/
    padding: 8px 12px; /*Espaçamento interno*/
    position: absolute; /*posiciona de forma absoluta*/
    top: 0; /* é posicionado ao topo */
}

/* Estiliza a class- ponto (define a aparência dos pontos de navegação que indicam a posição do slide)*/
.ponto {
    cursor: pointer; /*altera o cursor para uma mão ao passar o curso ao ponto*/
    height: 15px; /*define a altura do ponto*/
    width: 15px; /*define a largura do ponto*/
    margin: 0 2px; /*Aplica margem de 2px para os lados esquerdo e direito*/
    background-color: #bbb; /*aplica cor de fundo*/
    border-radius: 50%; /*arrendonda em 50% para criar uma forma circular*/
    display: inline-block; /*Faz com que os pontos sejam exibidos na mesma linha*/
    transition: background-color 0.6s ease; /*aplica transição suave a cor de fundo*/
}

/* Estiliza .active e .ponto
.active: Define a cor de fundo do ponto ativo (indicando o slide atual).
.ponto:hover: Define a cor de fundo do ponto quando o mouse passa sobre ele.*/
.active,
.ponto:hover {
    background-color: #717171; /*Altera a cor de fundo dos pontos quando estão ativos (.active) ou quando o mouse passa sobre eles (:hover)*/
}

/*  Aplica a animação de desvanecimento aos slides */
.fade {
    animation-name: fade; /*Define o nome da animação a ser usada*/
    animation-duration: 2.5s; /* Define a duração da animação para 2,5 segundos.*/
}

@keyframes fade { /*a palavra chave '@keyframes" define a animação chamada fade*/
    from {
        opacity: .2 /*Define a opacidade inicial como 0.2 (quase transparente)*/
    }

    to {
        opacity: 1 /*Define a opacidade final como 1 (totalmente visível)*/
    }
}